<!--cursor setting-->
<div class="cursor"></div>
<div class="cursor-follower"></div>

<!--loading area-->
<div class="loader df aic jcc">
  <div>
    <h1>Loading</h1>
    <h2 class="loader--text">0%</h2>
  </div>
</div>

<!--contents-->
<div class="demo-wrapper">
  <!--header-->
  <header class="df aic jcc intro">
    <div>
      <h1>TAEHYEONG'S PORTFOLIO</h1>
      <h2>안녕하세요. 웹 퍼블리셔 김태형입니다.</h2>
    </div>
  </header>

  <!--introduction-->

  <div class="introContents df aic jcc ">
    <p class="title" data-aos="slide-up" data-aos-offset="200" data-aos-easing="ease-in-out-cubic" data-aos-duration="600">
      Core Value
    </p>
    <p class="desc" data-aos="slide-up" data-aos-duration="800">
      "10년의 집요함으로 웹 표준의 기준을 세우고, 접근성의 사각지대를 해소합니다."<br/></br/>
      
      단순한 화면 구현을 넘어, <br/>
      어떠한 복잡한 비즈니스 환경에서도 유연하고 견고하게 작동하는 UI 구조를 설계합니다.<br/>
      수십 개의 공공 서비스 웹 접근성 인증을 완수했던 책임감과 프로젝트 리딩 능력을 바탕으로,<br/> 
      귀사의 디지털 플랫폼이 모든 사용자에게 평등하고 고도화된 경험을 제공하도록 기여하겠습니다.
    </p>

    <p class="title" data-aos="slide-up" data-aos-offset="200" data-aos-easing="ease-in-out-cubic" data-aos-duration="1000">
      Skills
    </p>
    <!-- <p class="desc">
      Language : HTML5, CSS3, SCSS, JAVASCRIPT(ES6+)
      Frameworks/Libraries : React, Thymeleaf, jQuery
      Workflow & Tools: Figma, Git, SVN, Webpack/Gulp, Jira/Confluence
    </p> -->

    <ul  data-aos-duration="1200">
      <li data-aos="flip-up" data-aos-duration="800">
        <p class="title">01. LANGUAGES</p>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>SCSS</li>
          <li>JavaScript(ES6+)</li>
        </ul>
      </li>

      <li data-aos="flip-up" data-aos-duration="1500">
        <p class="title">02. ARCHITECTURE</p>
        <ul>
          <li>React</li>
          <li>Thymeleaf</li>
          <li>jQuery</li>
          <li>Gulp</li>
        </ul>
      </li>

      <li data-aos="flip-up" data-aos-duration="2200">
        <p class="title">03. COLLABORATION</p>
        <ul>
          <li>Figma</li>
          <li>SVN</li>
          <li>Git</li>
          <li>Confluence</li>
        </ul>
      </li>
    </ul>
  </div>

  <!--portfolio List-->
  <section class="demo-text start">
    <div class="wrapper text">
      Project Archive
    </div>
  </section>
  <section class="demo-text ">
    <div class="wrapper text">
      Digital Experiences
    </div>
  </section>

  <section class="demo-gallery ">
    <ul class="wrapper">
      <li>
        <img src="" width="1240" height="874">
      </li>
      <li>
        <img src="" width="1240" height="874">
      </li>
      <li>
        <img src="" width="1240" height="874">
      </li>
    </ul>
  </section>

  <section class="demo-gallery">
    <ul class="wrapper">
      <li>
        <img src="" width="1240" height="874">
      </li>
      <li>
        <img src="" width="1240" height="874">
      </li>
      <li>
        <img src="" width="1240" height="874">
      </li>
    </ul>
  </section>

  <section class="demo-gallery">
    <ul class="wrapper">
      <li>
        <img src="" width="1240" height="874">
      </li>
      <li>
        <img src="" width="1240" height="874">
      </li>
      <li>
        <img src="" width="1240" height="874">
      </li>
    </ul>
  </section>

  <section class="demo-gallery">
    <ul class="wrapper">
      <li>
        <img src="" width="1240" height="874">
      </li>
      <li>
        <img src="" width="1240" height="874">
      </li>
      <li>
        <img src="" width="1240" height="874">
      </li>
    </ul>
  </section>

  <section class="demo-gallery">
    <ul class="wrapper">
      <li>
        <img src="" width="1240" height="874">
      </li>
      <li>
        <img src="" width="1240" height="874">
      </li>
      <li>
        <img src="" width="1240" height="874">
      </li>
    </ul>
  </section>

  <section class="demo-text">
    <div class="wrapper text">
      Crafting Principled
    </div>
  </section>

  <section class="demo-text">
    <div class="wrapper text">
      UI through Technical
    </div>
  </section>
  <section class="demo-text end">
    <div class="wrapper text">
      Integrity and User-
    </div>
  </section>
  <section class="demo-text">
    <div class="wrapper text">
      Centric Design.
    </div>
  </section>
  <div style="padding-bottom:1000px;"></div>
</div>

<script> AOS.init();</script>