<div class="cptFooter">
    <div class="inner">
        <div class="cpright">
            ⓒ 2026 JK-PROJECT ALL RIGHTS RESERVED
        </div>
        <!-- <div class="footRight">
            <ul>
                <li><a href="javascript:void(0)">GITHUB</a></li>
                <li></li>
            </ul>
        </div> -->
    </div>
</div>